<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: #F5F4EF;
    height: 18%;
    width: 100%;
    position: fixed;
}

#navigation {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 20px;
    border-top: 3px solid black;
    background-color: #F5F4EF;
    width: 100vw;
    border-bottom: 1px solid black;
}

#backhome {
    background-color: #F5F4EF;
    padding: 16px;
    font-size: 16px;
    border: none;
}

#homepage a, #contact a, #Reservation a  {
    display: block;
    color: #53524A;
    padding: 15px 14px 13px 14px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 150px;
    height: 26px;
}

.btn {
    background-color: #F5F4EF;
    color: #53524A;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 182px;
    font-family: Georgia, serif;
}

.btn a {
    color: #53524A;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content a {
    background-color: #F5F4EF;
    color: #53524A;
    padding: 20px 25px;
    text-decoration: none;
    font-family: Georgia, serif;
    display: block;
    text-align: justify;
    width: 250px;
}

.content a:hover {
    color: blue;
    background-color: #F5F4EF;
}

.dropdown:hover .content {
    color: blue;
    display: block;
}

.dropdown:hover .btn {
    background-color: 	#F5F4EF;
}

#backhome:hover, #contact:hover {
    background-color: 	#F5F4EF;
}

#logoshape img{
    border-radius: 50%;
}

#container img{
    display: block;
    height: 10vh;
    margin: 0 auto;
}



.Boutique-Section {
    background-image: linear-gradient(to left,#C8B89E, #53524E);
}

.view {
    height: 100vh;
}

#Starbucks-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    background-image: linear-gradient(to left,#C8B89E, #53524E);
}

#Starbucks-section #Starbucks img{
    display: block;
    padding-top: 5%;
    width: 100%;
    height: 60%;
    object-fit: cover;
}

#Starbucks-section .title {
    margin-top: 15%;
    justify-content: center;
}

#Starbucks-section .title h2{
    font-size: 100px;
    color: white;
    font-family: Lucida Handwriting, Cursive;
}

.boutique-header {
    display: flex;
    flex-direction: column;
}

#boutique-top h1{
    display: block;
    width: 100%;
    font-size: 50px;
    color: white;
    font-family: Lucida Handwriting, Cursive;
    padding-top: 12%;
    text-align: center;
}

#GUESS-section {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Pictures/Boutique/GUESS 6.png");
}

#GUESS-section > * {
    box-sizing: border-box;
}

.guess-column {
    float: left;
    width: 25%;
    padding: 5px;
}

#GUESS-section::after {
    content: "";
    clear: both;
    display: table;
}

.guess-column > img {
    padding-top: 300px;
    height:  300px;
}

#fridays-section, #jollibee-section {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Pictures/Boutique/fridays 4.png");
}

#jollibee-section {
    background-image: url("Pictures/Boutique/jollibee4.jpg");
    background-position: center;
}

#fridays-section > *, #jollibee-section > * {
    box-sizing: border-box;
}

.fridays-column, .jollibee-column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

#fridays-section::after, #jollibee-section::after {
    content: "";
    clear: both;
    display: table;
}

.fridays-column > img, .jollibee-column > img {
    padding-top: 300px;
    height:  300px;
}

#BDO-section, #Kate-Spade-section, #money-changer-section {
    height: 100vh;
    background-image: linear-gradient(to right,#C8B89E, #53524E);
}

#BDO-section {
    background-image: linear-gradient(to left,#C8B89E, #53524E);
}

#BDO-section > *, #Kate-Spade-section > *, #money-changer-section > * {
    box-sizing: border-box;
}

.BDO-column, .Kate-Spade-column, .money-changer-column {
    float: left;
    width: 50%;
    padding: 0 110px;
}

#BDO-section::after, #Kate-Spade-section::after, #money-changer-section::after{
    content: "";
    clear: both;
    display: table;
}

.BDO-column > img, .Kate-Spade-column > img, .money-changer-column > img {
    padding-top: 60px; 
    height:  300px;
}

.BDO-class, .Kate-Spade-class, .money-changer-class {
    display: flex;
    flex-direction: column;
}

.BDO-container, .Kate-Spade-container, .money-changer-container {
    display: flex;
    flex-direction: row;
}

.BDO-class .title, .Kate-Spade-class .title, .money-changer-class .title {
    margin: 0 auto;
    margin-top: 15%;
    justify-content: center;
}

.BDO-class .title h1, .Kate-Spade-class .title h1, .money-changer-class .title h1{
    justify-content: center;
    font-size: 75px;
    color: white;
    font-family: Lucida Handwriting, Cursive;
    
}

#Contact img {
    display: block;
    height: 14vh;
    margin: 0 auto;
    margin-top: 2%;
}

#Contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #A2967F;
}

#contact-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80%;
    display: flex;
    margin: 3% auto 0% auto;
    border-top: 3px solid #53524A;
    border-bottom: 3px solid #53524A;
    justify-content: space-between;
}

.contact-section {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 60%;
    height: 90%;
    text-decoration: none;
}

.box {
    height: 100%;
    width: 33.33%;
    color: #fff;
}

.box ul {
    padding: 1% 0%;
}

.box > ul > li {
    color: #A2967F;
    padding: 3% 5%;
    text-decoration: none;
}

.box > ul > li > a {
    color: #F8F8FF;
    text-decoration: none;
}

.message {
    margin: auto;
    width: 30%;
    height: 90%;
    text-align: center;
}

.message h3 {
    color: #fff;
    padding-top: 2%;
}

.message ul {
    justify-content: center;
    padding: 1% 0%;
    list-style: none;
}

.message > ul > li {
    justify-content: center;
    color: #F9F6EE;
    padding: 1% 5%;
    text-decoration: none;
}

.message > ul > li > a {
    color: #F8F8FF;
    text-decoration: none;
}





footer {
    margin: 2% auto 2% auto;
    display: flex;
    flex-direction: row;
    color: #fff;
    text-decoration: none;
}

footer > ul {
    text-decoration: none;
    color: #fff;
    display: flex;
    margin: 0 0 0 100px;
    justify-content: center;
}

footer > ul > li {
    color: #A2967F;
    text-decoration: none;
    margin: 0 50px;
}

footer ul > li > a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

footer > span {
    font-size: 18px;
    margin: 0 400px 0 0;
    padding: 0 5px;
    color: #fff;
    opacity: 0.75;
}
=======
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: #F5F4EF;
    height: 18%;
    width: 100%;
    position: fixed;
}

#navigation {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 20px;
    border-top: 3px solid black;
    background-color: #F5F4EF;
    width: 100vw;
    border-bottom: 1px solid black;
}

#backhome {
    background-color: #F5F4EF;
    padding: 16px;
    font-size: 16px;
    border: none;
}

#homepage a, #contact a, #Reservation a  {
    display: block;
    color: #53524A;
    padding: 15px 14px 13px 14px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 150px;
    height: 26px;
}

.btn {
    background-color: #F5F4EF;
    color: #53524A;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 182px;
    font-family: Georgia, serif;
}

.btn a {
    color: #53524A;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content a {
    background-color: #F5F4EF;
    color: #53524A;
    padding: 20px 25px;
    text-decoration: none;
    font-family: Georgia, serif;
    display: block;
    text-align: justify;
    width: 250px;
}

.content a:hover {
    color: blue;
    background-color: #F5F4EF;
}

.dropdown:hover .content {
    color: blue;
    display: block;
}

.dropdown:hover .btn {
    background-color: 	#F5F4EF;
}

#backhome:hover, #contact:hover {
    background-color: 	#F5F4EF;
}

#logoshape img{
    border-radius: 50%;
}

#container img{
    display: block;
    height: 10vh;
    margin: 0 auto;
}



.Boutique-Section {
    background-image: linear-gradient(to left,#C8B89E, #53524E);
}

.view {
    height: 100vh;
}

#Starbucks-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    background-image: linear-gradient(to left,#C8B89E, #53524E);
}

#Starbucks-section #Starbucks img{
    display: block;
    padding-top: 5%;
    width: 100%;
    height: 60%;
    object-fit: cover;
}

#Starbucks-section .title {
    margin-top: 15%;
    justify-content: center;
}

#Starbucks-section .title h2{
    font-size: 100px;
    color: white;
    font-family: Lucida Handwriting, Cursive;
}

.boutique-header {
    display: flex;
    flex-direction: column;
}

#boutique-top h1{
    display: block;
    width: 100%;
    font-size: 50px;
    color: white;
    font-family: Lucida Handwriting, Cursive;
    padding-top: 12%;
    text-align: center;
}

#GUESS-section {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Pictures/Boutique/GUESS 6.png");
}

#GUESS-section > * {
    box-sizing: border-box;
}

.guess-column {
    float: left;
    width: 25%;
    padding: 5px;
}

#GUESS-section::after {
    content: "";
    clear: both;
    display: table;
}

.guess-column > img {
    padding-top: 300px;
    height:  300px;
}

#fridays-section, #jollibee-section {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Pictures/Boutique/fridays 4.png");
}

#jollibee-section {
    background-image: url("Pictures/Boutique/jollibee4.jpg");
    background-position: center;
}

#fridays-section > *, #jollibee-section > * {
    box-sizing: border-box;
}

.fridays-column, .jollibee-column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

#fridays-section::after, #jollibee-section::after {
    content: "";
    clear: both;
    display: table;
}

.fridays-column > img, .jollibee-column > img {
    padding-top: 300px;
    height:  300px;
}

#BDO-section, #Kate-Spade-section, #money-changer-section {
    height: 100vh;
    background-image: linear-gradient(to right,#C8B89E, #53524E);
}

#BDO-section {
    background-image: linear-gradient(to left,#C8B89E, #53524E);
}

#BDO-section > *, #Kate-Spade-section > *, #money-changer-section > * {
    box-sizing: border-box;
}

.BDO-column, .Kate-Spade-column, .money-changer-column {
    float: left;
    width: 50%;
    padding: 0 110px;
}

#BDO-section::after, #Kate-Spade-section::after, #money-changer-section::after{
    content: "";
    clear: both;
    display: table;
}

.BDO-column > img, .Kate-Spade-column > img, .money-changer-column > img {
    padding-top: 60px; 
    height:  300px;
}

.BDO-class, .Kate-Spade-class, .money-changer-class {
    display: flex;
    flex-direction: column;
}

.BDO-container, .Kate-Spade-container, .money-changer-container {
    display: flex;
    flex-direction: row;
}

.BDO-class .title, .Kate-Spade-class .title, .money-changer-class .title {
    margin: 0 auto;
    margin-top: 15%;
    justify-content: center;
}

.BDO-class .title h1, .Kate-Spade-class .title h1, .money-changer-class .title h1{
    justify-content: center;
    font-size: 75px;
    color: white;
    font-family: Lucida Handwriting, Cursive;
    
}

#Contact img {
    display: block;
    height: 14vh;
    margin: 0 auto;
    margin-top: 2%;
}

#Contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #A2967F;
}

#contact-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 80%;
    display: flex;
    margin: 3% auto 0% auto;
    border-top: 3px solid #53524A;
    border-bottom: 3px solid #53524A;
    justify-content: space-between;
}

.contact-section {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 60%;
    height: 90%;
    text-decoration: none;
}

.box {
    height: 100%;
    width: 33.33%;
    color: #fff;
}

.box ul {
    padding: 1% 0%;
}

.box > ul > li {
    color: #A2967F;
    padding: 3% 5%;
    text-decoration: none;
}

.box > ul > li > a {
    color: #F8F8FF;
    text-decoration: none;
}

.message {
    margin: auto;
    width: 30%;
    height: 90%;
    text-align: center;
}

.message h3 {
    color: #fff;
    padding-top: 2%;
}

.message ul {
    justify-content: center;
    padding: 1% 0%;
    list-style: none;
}

.message > ul > li {
    justify-content: center;
    color: #F9F6EE;
    padding: 1% 5%;
    text-decoration: none;
}

.message > ul > li > a {
    color: #F8F8FF;
    text-decoration: none;
}





footer {
    margin: 2% auto 2% auto;
    display: flex;
    flex-direction: row;
    color: #fff;
    text-decoration: none;
}

footer > ul {
    text-decoration: none;
    color: #fff;
    display: flex;
    margin: 0 0 0 100px;
    justify-content: center;
}

footer > ul > li {
    color: #A2967F;
    text-decoration: none;
    margin: 0 50px;
}

footer ul > li > a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

footer > span {
    font-size: 18px;
    margin: 0 400px 0 0;
    padding: 0 5px;
    color: #fff;
    opacity: 0.75;
}
>>>>>>> 4cf7a2b846e7ec6d632cd8e967533c5bda65d9f4
