* {
    margin: 0;
    padding: 0;
    font-family: Courier New, Monospace;
}

#logoshape {
    background-color: 	#F5F4EF;
}

#logoshape img{
    border-radius: 50%;
    display: block;
    height: 10vh;
    margin: 0 auto;
}

#reservation-top {
    color: white;
    background-color: #53524A;
    padding: 10px;
}

#reservation-top h1 {
    text-align: center;
}

body {
    background-image: url("Pictures/Amenities/s pool 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
}

.book-container {
    display: block;
    justify-content: center;
    width: 40%;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    margin-top: 5%;
    border-radius: 0.6rem;
}

#calendar {
    display: flex;
    justify-content: space-around;
    margin: 3% 0;
}

input[type="date"] {
    width: 30%;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    margin: 1%;
}

.dropdown-box {
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: space-around;
}

.dropdown {
    margin: 5% 0;
    padding: 5%;
}

select option {
    padding: 5%;
    font-size: 15px;
}

input[type = "text"] {
    width: 90%;
    margin: 1% 3%;
    padding: 10px;
    border-radius: .3rem;
}

button {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 3% auto 0 auto;
    padding: 2%;
    border-radius: 2rem;
    background-color: #F5F4EF;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #53524A;

}